$family-sans-serif: 'Work Sans', sans-serif;
$body-color: #051925;
$navbar-background-color: #0072bb;
$navbar-height: 80px;
$navbar-padding-vertical: 0px;
$navbar-item-img-max-height: unset;

$primary: #fe6237;